.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.border{
  border: 1px solid gray;
  padding:2px 19px;
}
.top{
  margin-top: 15px;
}
.button{
  background-color: rgb(157, 235, 245);
  border:none;
  color:black;
  padding:2px 15px;
  border-radius: 3px;
}
.button-gap{
  margin-right:6px;
  background-color: rgb(157, 235, 245);
  border:none;
  color:black;
  padding:2px 15px;
  border-radius: 3px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
